* {
    box-sizing: border-box;
    font-family: "Raleway";
    
  }
  .container {
    max-width: 1400px;
    margin: auto;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.Menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 381px;
    height: 19px;
    left: 982px;
    top: 48px;
}
.logo {
    height: 19px;
    margin-top: 35px;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 16px;
}
p {
  font-size: 16px;
  
}
.hebergements {
    position: absolute;
    left: 36.22%;
    right: 34.12%;
    top: 0%;
    bottom: 0%;
    font-family: Raleway;
    font-weight: 400;
    color: blue;
    text-align: center;
    text-decoration: overline;
}

.activites {
    color: black;
    font-weight: 400;
    text-align: center;
}
.nav.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.nav-link {
    color: #0065FC;
}
.nav-link:hover {
  padding-top: 22px;
  border-top: 2px solid rgba(0, 101, 252, 1);
  color: #0065fc;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
li {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}
.MainLocation {
    position: absolute;
    width: 332px;
    height: 49px;
    left: 55px;
    top: 199px;
}
.fa-icon{
  color: #000000;
}
.formulaire{
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 332px;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

.button {
  background: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  padding: 15px 16px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  width: 132px;
  height: 49px;
  
}
.icon{
  border-radius: 15px 0px 0px 15px;
  background-color: #F2F2F2;
  background: #F2F2F2;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  padding-top: 14px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: row;
    float: right;
    width: 381px;
    height: 19px;
    left: 982px;
    top: 48px;
}

.FilterBar  {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 914px;
    height: 50px;
    left: 62px;
    
}
.Infobar {
    position: absolute;
    width: 447px;
    height: 24px;
    left: 59px;
    top: 365px;
}

.champ{
  font-weight: 700;
  width: 147px;
  height: 49px;
  text-align: center;
}
  
  .fa-solid {
    color: #000000;
    width: 50px;
    height: 49px;
    align-items: center;
    display: flex;
   flex-direction: row;
   justify-content: space-around;
  }
  
  .fa-icon {
    font-size: 1.5em;
    color:#0065fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .titrefiltres {
    font-size: 18px;
    font-weight: bold;
    width: 54px;
    height: 21px;
  }
  .filtre {
    border: 2px solid #D9D9D9;
    border-radius: 35px;
    padding: 8px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    align-items: center;
  }
  
  .filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 914px;
    height: 50px;
    margin-top: 20px;
  }
  
  .nomfiltre {
    font-size: 15px;
    font-weight: bold;
    padding-top: 12px;
    margin: 0px 20px 15px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2px;
  }
  .filtre1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 175px;
    height: 48px;
    border: 2px solid #D9D9D9;
    border-radius: 35px;
  }
  .filtre1:hover {
    background: #DEEBFF;
}
  .filtre2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 136px;
    height: 48px;
    border: 2px solid #D9D9D9;
    border-radius: 35px;
  }
  .filtre2:hover {
    background: #DEEBFF;
}
  .filtre3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 172px;
    height: 48px;
    border: 2px solid #D9D9D9;
    border-radius: 35px;
  }
  .filtre3:hover {
    background: #DEEBFF;
}
  .filtre4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 226px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 35px;
  }
  .filtre4:hover {
    background: #DEEBFF;
}
  .log{
  display: flex;
  justify-content: center;
  border-radius: 100%;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  height: 27px;
  width: 27px;
  }
  .fa-info{
    color:#0065fc;
    border: 1px;
    top: 4px;
    left: 10px;
    margin-left: 9px;
    margin-top: 5px;
    font-size: 10px;
    height: 20px;
  
  }

  .infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 35px;
    top: 3px;
    margin-left: 10px;
  }
  #info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .Section_offers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1340px;
    height: 626px;
    left: 50px;
    top: 426px;
  }

  .Offers_Main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 880px;
    height: 626px;
    left: 50px;
    top: 426px;
    background: #F2F2F2;
    border-radius: 20px;
  }

  .HebergementMarseille{
    size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 40px;
  }
.MarseilleHotel1{
  display: flex;
  flex-direction: row;
}
.MarseilleHotel2{
  display: flex;
  flex-direction: row;
}
  .AffichePlus{
    size: 22px;
    font-weight: bold;
    
  }

  .Offers_Sponsored{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    height: 625px;
    left: 970px;
    top: 427px;
    background: #F2F2F2;
    border-radius: 20px;
  }

  .Pluspopulaires{
    size: 22px;
    font-weight: bold;
    width: 205px;
    left: 1007px;
  }
  .Stars{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
  }
  .fa-star{
    color: #0065FC;
    width: 12px;
    height: 12px;
  }
  .Section_Activite{
    width: 1337px;
    height: 493px;
    left: 50px;
    top: 1112px;
    display: flex;
    flex-direction: column
  }
  .ActivitesMarseille{
    size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    
  }
  .CardActivity{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); ;
  }
  .Rectangle19{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    width: 246px;
    height: 199px;
    border-radius: 20px;
  }
  .Rectangle20{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }
  .AubergedelaCanebière{
    font-weight: bold;
  }
.VieuxPort{
  font-weight: bold;
  left: 19px;
  top: 409px;
}
.Fort{
  font-weight: bold;
}
.Parc{
  font-weight: bold;
}
.NotreDame{
  font-weight: bold;
}

.CardSponsored{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Rectangle23{
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 343px;
  height: 143px;
}

.Rectangle24{
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
}
.Chambre{
  size: 16px;
  font-weight: bold;
}
.Prix{
  size: 14px;

}
  .footer{
    display: flex;
    flex-direction: row;
    bottom: -6.28%;
    background:white;
    justify-content: center;
    width: 1440px;
    height: 203px;
    margin-top: 50px;
    top: 1660px;
  }
  .Rectangle21{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F2F2F2;
    width: 1339px;
    height: 225px;
    left: 41px;
    right: 53px;
    bottom: -10.84%;
  }
  .Footerblock{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
  }
.titre5{
  font-size: 18px;
  font-weight: bold;
}