@media screen and (min-width: 768px) and (max-width: 992px) {

    .container {
        max-width: 1024px;
        height: 276px;
      }

      .HebergementMarseille{
        margin-bottom: 23px;
      }
      #Section_offers{
        width: 880px;
        flex-direction: column;
      }
     
      .filtres {
        width: 846px;
        height: 50px;
      }
      .MarseilleHotel1{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 40px;
        margin-right: 40px;
    
      }
      .Offers_Sponsored{
        width: 883px;
        height:278px;
        margin-top: 53px;
        flex-wrap: wrap;
      }
      .CardSponsored{
        flex-direction: row;
        height: 144px;
        margin-right: 40px;
        margin-left: 40px;
    }
    
      .Rectangle24{
        border-radius: 20px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
      }
      .Rectangle23{
        width: 252px;
        height: 144px;
        margin-top: 26px;
      }
      .CardActivity{
        width: 878px;
        height: 331px;
       
      }
      #Section_Activite{
        width: 878px;
        height: 331px;
        margin-top: 70px;
        right: 73px;
        left: 73px;
        position: absolute;
        
      }
.Rectangle25{
    width: 182px;
    height: 267px;
  }
  .picture{
    width: 182px;
    height: 211px;
    }

   
    .Rectangle21{
      width: 820px;
      position: absolute;
      top: 1853px;
    }
    .footer{
     
    }
}